<!DOCTYPE html>
<html>
  <head>
    <title>About - <%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1>About Us</h1>
    </header>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </nav>
    <div class="container">
      <p>
        Welcome to the Star Wars Fan Page! This site is dedicated to celebrating the epic space opera 
        created by George Lucas. From the original trilogy to the latest series, we aim to bring fans 
        together to share their love for the Star Wars universe.
      </p>
      <p>
        Explore our site to learn more about the history of Star Wars, its characters, and its impact 
        on pop culture. May the Force be with you!
      </p>
    </div>
    <footer>
      <p>&copy; 2025 Star Wars Fan Page. All rights reserved.</p>
    </footer>
  </body>
</html>